@model VideoMVC.Models.tblContrato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblContrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.montoContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCliente.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCliente.nombreCliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idContrato }) |
    @Html.ActionLink("Back to List", "Index")
</p>
